<form action="<TMPL_VAR CGIURL>" method="get">
<div id="createform">
<input type="hidden" name="do" value="create" />
<input type="hidden" name="from" value="<TMPL_VAR CURRENTPAGE>" />
Add a new page titled: <input name="page" size="40" />
<input type="submit" value="Create" />
</div>
</form>
